*{
    font-family: "Lato", sans-serif;
}
.lines div{
    height: 1px;
    background-color: var(--main-color);
    margin: auto;
}
.lines .first{
    width: 100px;
    margin-top: 5px;
}
.lines .second{
    width: 200px;
    margin-top: 5px;
}
.lines .third{
    width: 100px;
    margin-top: 5px;
}

:root{
    --main-color:#ff305b;
    --secondary-bg:#f1f1f1;
    --second-color:#333333;
    --third-color: #555555;
    /* --border:5px solid black; */
}

/* Start of NavBar */
#nav .primary-font{
    font-size: 24px;
    font-weight: 800;
    line-height: 25px;
    color: var(--main-color);
}
#nav .primary-color{
    font-size: 16px;
    color: var(--main-color);
}
#nav .text-color{
    color: white;
    font-size: 16px;
    
    /* font-size: 14px; */
}


/* End of NavBar */

/* Start of Header */
#header{
    background:linear-gradient(rgba(19, 1, 1, 0.707)), url(../Images/slider-02.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

#header h1{
    font-size: 100px;
    line-height: 120px;
    font-weight: 900;
    color: var(--main-color);
}
#header h4{
    font-size: 24px;
}
#header h3{
    font-size: 26px;
}
h4::after{
  content: "|";
  animation: move 5s infinite;
}

@keyframes move{
    0%{
        content: " | ";
    }
    10%{
        content: " De| ";
    }
    20%{
        content: " Desi| ";
    }
    30%{
        content: " Design| ";
    }
    40%{
        content: " Designer| ";
    }
    50%{
        content: " | ";
    }
    51%{
        content: " De| ";
    }
    60%{
        content: " Deve| ";
    }
    70%{
        content: " Develo| ";
    }
    80%{
       content: " Develop| "; 
    }
    90%{
        content: " Developer| ";
    }
    100%{
        content: " Developer| ";
    }
}


/* End of Header */

/* Start of Hello Section */
#hello {
  height: 600px;
  width: 80%;
  margin: auto;
  
}

#hello .container {
  padding-top: 100px;
  /* margin: auto; */
}
.right-flex {
  display: flex;
  /* justify-content: flex-end; */
  /* margin-right: 50px; */
}
#hello .bgContainer {
  top: 0px;
  left: 0px;
  /* right: 0px;
  bottom: 0px; */
  width: 55%;
  height: 90%;
  border: 10px solid #555555;
  border-radius: 10px;
  z-index: -1;
  
}

#hello .imgContainer {
  position: relative;
  top: 20px;
  left: 20px;
  
  /* z-index: 1; */
  width: 110%;
}

#hello .imgCol {
  background-color: #5555556d;
  border: 10px #5555556d;
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  background-color: #5555557c;
  overflow: hidden;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hello .imgContainer:hover .imgCol {
  top: 0;
  height: 100%;
}

#hello .line {
  width: 100%;
  height: 5px;
  border-bottom: 2px dotted #5555556c;
  margin-bottom: 10px;
}

#hello ul {
  display: list-item;
  list-style: none;
  padding-left: 0px;
  /* display: flex; */
  /* justify-content: space-evenly;   */
}

#hello ul li {
  margin-right: 10px;
  color: var(--third-color);
  font: 17px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: none;
  /* margin-bottom: 20px; */
}

#hello ul span {
  font-weight: 600;
  color: var(--second-color);
  padding-right: 5px;

}

#hello p {
  color: var(--third-color);
  font: 17px;
  font-weight: 400;
}

#hello h2 {
  font-size: 34px;
  line-height: 22px;
  font-weight: 600;
  color: var(--second-color);
  padding-bottom: 20px;
}

#hello h2 span {
  color: var(--main-color);
}

#hello .btn {
  background-color: var(--main-color);
  color: white;
}

#hello .btn:hover {
  background-color: red;
  text-decoration: none;
}

#hello .imgCol i {

  display: inline-block;
  color: white;
  font-size: 16px;
  padding-right: 30px;
}
#hello .imgCol i:hover{
    color: #FF305B;
    cursor: pointer;
}

/* End of Hello Section */

/* Start of Our Services */
#service{
    background-color:var(--secondary-bg);
    height: 500px;
 
}
#service h2{

    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333333;
    
}
#service h3{

    font-size: 26px;
    line-height: 28px;
    font-weight: 800;
    color: #333333;
}
#service p{

    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #555555;
    
}
#service .card{

    background-color:var(--secondary-bg);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    
}
#service .card:hover{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#service .row{
    padding-top: 70px;
}
#service span{
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: var(--main-color);
    display: inline-block;
    padding-bottom: 30px;
}


/* End of Our Services */

/* Start of Portfolio */

#port .mod{
    width: 20px;
}
#port{
 background-color: white;
 margin: auto;
 box-sizing: border-box;
}
#port .tab-content{
    width: 80%;
    margin: auto;
}
#port .container{
    padding-top: 80px;
    padding-bottom: 100px;
    margin: auto;
    
}
#port .nav{
    padding-top: 20px;
    padding-bottom: 20px;
}
#port h2{
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333333;  
}
#port .nav .all-tab [data-bs-target]{
    color: var(--main-color);
} 
#port .nav [data-bs-target]{
    color: var(--second-color);
}  
#port .nav [data-bs-target]:hover{
    color: var(--main-color);
}  

#port .screen{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: all 1s;
    cursor: pointer;
}
#port .colContent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5555557c;
    overflow: hidden;
    transition: all 1s;
    opacity: 0;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
}

#port .screen i{
    position: relative;
    color: #ff305b;
    display: inline-block;
    margin: 10px;
    bottom: 0;
    left: 0;
    font-size: 20px;
    transition: all 1s;
}
#port .colContent:hover{ 
 opacity: 1;
}
#modal2 h5{
    color: #ff305b;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
#modal2 a{
    color: #ff305b;
}
#modal2 p{
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    line-height: 25px;
}
#modal2 .icons{
    display: inline-block;
    cursor: pointer;
    color: #555555;
    font-size: 16px;
}
#modal2 .icons span:hover{
    color: #ff305b;
}
#modal5 h5{
    color: #ff305b;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
#modal5 a{
    color: #ff305b;
}
#modal5 p{
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    line-height: 25px;
}
#modal5 .icons{
    display: inline-block;
    cursor: pointer;
    color: #555555;
    font-size: 16px;
}
#modal5 .icons span:hover{
    color: #ff305b;
}


/* End of Portfolio */



/* Start of icon bar */
#iconBar{
 background-color:var(--secondary-bg);   
 height: 250px;
}
#iconBar span{
    font-size: 30px;
    padding-bottom: 20px;
    display: inline-block;
    color: var(--main-color);
    
}
#iconBar h3{
    font-size: 26px;
    line-height: 28px;
    font-weight: 800;
    color: #333333;
    
}
#iconBar h5{
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: var(--third-color);
    padding-top: 10px;
}

/* End of icon bar */

/* Start of Feedback */
/* #feedback{
  height: 600px;
  margin: auto;
} */
#feedback {
   width: 60%;
    margin: auto;
    
}
#feed .container{
  
  padding-top: 100px;
  margin: auto;
}
/* #feedback h2::before{
    content: "";
    width: 60px;
    height: 10px;
    text-align: center;
    border-color: #FF305B;
    border-width: 1px 0;
    border-style: solid;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
} */
 .person-feedback {
    padding: 50px;
    background-color: #F1F1F1;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#feedback .person-feedback::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 150%;
    background-color: #FF305B;
    top: -60%;
    left: -20%;
    z-index: 0;
    transform: rotate(45deg);
}

#feedback h2{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333333;  
}


#feedback img {
    border-radius: 50%;
    width: 110px;
    position: relative;
    z-index: 1;
}

#feedback .person-info {
    padding-left: 30px;
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

#feedback .person-info h3 {
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

#feedback .person-info a {
    font-size: 15px;
    font-weight: 500;
    line-height: 16.5px;
    color: #777;
    margin: 12px 0;
    display: block;
}

#feedback .person-info a i {
    margin-right: 3px;
    font-size: 14px;
}

#feedback .person-info p {
    font-weight: 400;
    line-height: 25px;
    color: #555;
    font-style: italic;
    margin-bottom: 20px;
}

#feedback .person-info .stars i {
    color: #F1C30D;
}

.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
} 
.carousel-indicators .active {
    opacity: 1;
    width: 30px;
    height: 10px;
    border-radius: 60%;
}

/* End of Feedback */

/* Start of Our Blog */
#blog{
    height: 800px;
    margin: auto;
    background-color: var(--secondary-bg);
}
#blog .container{
  width: 75%;
  padding-top: 100px;
  margin: auto;
}
#blog .card{
    border-radius: 0%;
}
#blog .card img{
    border-radius: 0%;
    cursor: pointer;
}
#blog h2{
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333333; 
}
#blog h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: RGB(85, 85, 85);
}
#blog p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: RGB(85, 85, 85);
}
#blog h3{
    color: RGB(51, 51, 51);
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
}
#blog a{
  color: RGB(85, 85, 85);
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
#blog h3:hover{
  color: #ff305b;
  cursor: pointer;
}
#blog a:hover{
    color: #ff305b;
}
/* End of Our Blog */


/* Start of Contact Us */
#contact{
    width: 900px;
    height: 600px;
    margin: auto;
}
#contact .container{
    padding-top: 100px;
    margin: auto;
    padding-bottom: 20px;
}
#contact h2{
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333333; 
}

#contact .row{
    margin-top: 50px;
}
#contact button{
    background-color: #ff305b;
    color: white;
}
#contact button:hover{
    background-color:red;
}
/* End of Contact Us */


/* Start of Footer */
#footer{
    background-color: rgb(51, 51, 51);
    height:150px;
    color: white;
    font-size:18px ;
    line-height: 40px;
    font-weight: 400;
}
#footer .icons{
    display: inline-block;
    padding-top: 40px;
    cursor: pointer;
}
#footer .icons span{
    padding-left: 20px;
    
}
#footer p span{
    color: #ff305b;
}
#footer .icons span:hover{
    color: #ff305b;
}

/* End of Footer */